.experience{
    display: flex;
    flex-direction: column;
    margin: 2rem;
    text-align: justify;
    
}

.exp-item{
    margin-top: 1rem;
    background-color: floralwhite;
    font-size: 2rem;
}